
div, span{
   
    text-align: center;
}

body{
    text-align: center;
    font-family: "Nunito", sans-serif;
}

#container{
    border: 1px solid black;
    height: 300px;
    width: 600px;
    margin: 30px auto 0 auto;  
}

#inputSmall{
    width: 100px;
    height: 15px;
    font-size: 8px;
    display: inline;
    
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#search{
    height: 30px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 1px solid black;
}

#submit{
    width: 15px;
    font-size: 8px;
    padding: 0 0 0 0;
    display: inline;
    border-radius: 3px;
}
  
.stats{
    background-color: lightgoldenrodyellow;
    min-height: 150px;
    margin: 0 0 0 0;
}

.cards{
    background-color: lightcyan;
    min-height: 120px;
    margin: 0 0 0 0;
}

.cards-title{
    padding: 10px 0 0px 0;
    margin: 0px 0 0px 0;
}

.card{
    display: inline-block;
    height: 70px;
    
    font-size: 5px;
}



.city{
    height: 30px;
    background-color: lightpink;
    border: 1px solid black;
}

.subcont{
   
    border: 1px solid black;
}

.title{
    background-color: lightgrey;
    border: 1px solid black;
}